{% comment %}
  Renders the empty cart state with a continue shopping link.

  Usage:
    {% render 'cart-empty' %}
{% endcomment %}

<div class="cart-empty">
  <p>{{ 'cart.general.empty' | t }}</p>
</div>
